/* Custom Dims */
.dimsOverride {
  width: 300px;
  height: 48px;
}

/* Custom Color */

.customColor {
  color: green;
}

.customColor[data-error-state='true'] {
  color: blue;
  border-color: blue;
}

.customButtonColor[data-error-state='true']:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

.customButtonColor:hover {
  background-color: rgba(0, 255, 0, 0.3);
}
